VITE_SUPABASE_URL=https://dnwrlkmwsnztzqoikaco.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRud3Jsa213c256dHpxb2lrYWNvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAyMDYzNzQsImV4cCI6MjA5NTc4MjM3NH0.U-haqFjwJOdFkHOk572tKhaytay81UpQ1KV29QtYVoY
